*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
}
.card-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    box-shadow: 1px 1px 3px grey;
    padding: 40px 20px 15px;
}
.card-overlay{
    position: absolute;
    top: 0;
    left: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 2px black;
    opacity: 0;
    transition: 0.5s linear;
}
.card-container:hover .card-overlay{
    opacity: 1;
}
footer{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    text-align: center;
    padding: 5px 0px;
    transition: 0.5s linear;
}
.card-container:hover footer{
    opacity: 0;
} 
.one{
    position: absolute;
    left: 60%;
    top: 40%;
}
.lolo{
    filter: grayscale(100%);
    transition: 1s linear;
}
.lolo:hover{
    filter: grayscale(0);
}